# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data and artifacts
/data/**
/models/**
/submissions/**

# Kaggle
*.zip
kaggle.json

# OS
.DS_Store
